<div class="body">
    <!-- Header -->
<section class="home">
    <div class="swiper bg-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            <img src="assets/img/hero-1.webp" alt="hero1">
            <div class="text-content">
            <h2>Selamat Datang di</h2>
            <h3>Himpunan Mahasiswa Teknik Komputer Politeknik Pajajaran</h3>
            <p>Himakom Poljan adalah Himpunan Mahasiswa Teknik Komputer yang bertugas menjadi wadah aspirasi mahasiswa dan membuat inovasi di berbagai bidang.</p>
            <a href="/login" class="d-inline-block read-btn">Login Admin</a>
            </div>
        </div>
        <div class="swiper-slide">
            <img src="assets/img/hero-2.webp" alt="hero2">
            <div class="text-content">
                <h2>Selamat Datang di</h2>
                <h3>Himpunan Mahasiswa Teknik Komputer Politeknik Pajajaran</h3>
                <p>Himakom Poljan adalah Himpunan Mahasiswa Teknik Komputer yang bertugas menjadi wadah aspirasi mahasiswa dan membuat inovasi di berbagai bidang.</p>
                <a href="/login" class="d-inline-block read-btn">Login Admin</a>
            </div>
        </div>
        <div class="swiper-slide">
            <img src="assets/img/hero-3.webp" alt="hero3">
            <div class="text-content">
            <h2>Selamat Datang di</h2>
            <h3>Himpunan Mahasiswa Teknik Komputer Politeknik Pajajaran</h3>
            <p>Himakom Poljan adalah Himpunan Mahasiswa Teknik Komputer yang bertugas menjadi wadah aspirasi mahasiswa dan membuat inovasi di berbagai bidang.</p>
            <a href="/login" class="d-inline-block read-btn">Login Admin</a>
            </div>
        </div>
        </div>
    </div>
    <div class="bg-slider-thumbs">
        <div class="swiper-wrapper thumbs-container">
        <img src="assets/img/hero-1.webp" class="swiper-slide" alt="">
        <img src="assets/img/hero-2.webp" class="swiper-slide" alt="">
        <img src="assets/img/hero-3.webp" class="swiper-slide" alt="">
        </div>
    </div>
</section>

    <!-- visi dan misi -->
<div class="container mb-5">
    <section class="visi-misi">
        <div class="wrap">
            <div class="main">
                <div class="container-visiMisi">
                    <div class="visiMisi">
                        <div class="logo">
                            <img src="assets/img/vision.webp" alt="">
                        </div>
                        <h4>VISI</h4>
                        <p>Menjadikan Himpunan Mahasiswa Teknologi Komputer Politeknik Pajajaran sebagai wadah bagi
                            mahasiswa dalam berkarya, berinovasi, dan berbakti kepada seluruh masyarakat indonesia</p>
                    </div>
                    <div class="shadow-one"></div>
                    <div class="shadow-two"></div>
                </div>
            </div>
            <div class="main">
                <div class="container-visiMisi">
                    <div class="visiMisi">
                        <div class="logo">
                            <img src="assets/img/mission.webp" alt="">
                        </div>
                        <h4>MISI</h4>
                        <p>Menjadikan mahasiswa komputer Politeknik Pajajaran berwawasan luas dalam berbagai
                            bidang, bermanfaat bagi sesama dan memiliki daya saing dengan mahasiswa lain di era industri 4.0
                            </p>
                    </div>
                    <div class="shadow-one"></div>
                    <div class="shadow-two"></div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="back-profile">
    <div class="bg-profile">
        <h1>Profil Ketua & Wakil Ketua</h1>
        <div class="container">
            <div class="row card-profiles justify-content-md-center gx-md-5 ">
                <div class=" col-md-5 me-md-3">
                    <div class="card-profile">
                        <div class="imgBx">
                            <img src="/uploads/images/<%= ketua.image %>"/>
                        </div>
                        <div class="content">
                            <div class="details">
                            <div class="actionBtn">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ikbarShafar">Lihat Profile</button>
                            </div>
                            <div class="data justify-content-center">
                                <p>
                                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-square-github"></i></a>
                                </p>
                            </div>
                            <h2>Ikbar Shafar<br><span>Ketua Himakom</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-5 ms-md-3">
                    <div class="card-profile">
                        <div class="imgBx">
                            <img src="/uploads/images/<%= wakil.image %>" />
                        </div>
                        <div class="content">
                            <div class="details">
                            <div class="actionBtn">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#finiFirliansyah">Lihat Profile</button>
                            </div>
                            <div class="data justify-content-center">
                                <p>
                                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-square-github"></i></a>
                                </p>
                            </div>
                            <h2>Fini Firliansyah<br><span>Wakil Ketua Himakom</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="ikbarShafar" tabindex="-1"  aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">My Biodata</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
            <div class="col-md-3">
                <img src="/uploads/images/<%= ketua.image %> " class="img-fluid">
            </div>
            <div class="col-md">
                <ul class="list-group">
                <li class="list-group-item"><h4><%= ketua.nama %></h4></li>
                <li class="list-group-item"><strong>Kedudukan : </strong><%= ketua.Kedudukan %></li>
                <li class="list-group-item"><strong>Prodi : </strong><%= ketua.prodi %></li>
                <li class="list-group-item"><strong>Asal : </strong><%= ketua.alamat %></li>
                <li class="list-group-item"><strong>Tanggal Lahir : </strong><%= ketua.tanggalLahir %></li>
                <li class="list-group-item"><strong>Moto : </strong><%= ketua.moto %></li>
                <li class="list-group-item"><strong>Akun Medsos : </strong> 
                    <span>
                        <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-square-github"></i></a>
                    </span>
                </li>
                </ul>
            </div>
            </div>
        </div>`
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
    </div>
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="finiFirliansyah" tabindex="-1"  aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">My Biodata</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
            <div class="col-md-3">
                <img src="/uploads/images/<%= wakil.image %>" class="img-fluid">
            </div>
            <div class="col-md">
                <ul class="list-group">
                <li class="list-group-item"><h4><%= wakil.nama %> </h4></li>
                <li class="list-group-item"><strong>Kedudukan : </strong><%= wakil.kedudukan %></li>
                <li class="list-group-item"><strong>Prodi : </strong><%= wakil.prodi %></li>
                <li class="list-group-item"><strong>Asal : </strong><%= wakil.alamat %></li>
                <li class="list-group-item"><strong>Tanggal Lahir : </strong><%= wakil.tanggalLahir %></li>
                <li class="list-group-item"><strong>Moto : </strong><%= wakil.moto %></li>
                <li class="list-group-item"><strong>Akun Medsos : </strong> 
                    <span>
                        <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-square-github"></i></a>
                    </span>
                </li>
                </ul>
            </div>
            </div>
        </div>`
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
    </div>
    </div>
</div>
</div>


<!-- Program Kerja Card -->

<div class="container">
<h1 class="text-center program-kerja my-5">Program Kerja</h1>
<div class="row">
    <div class="col-lg-4 col-md-6 column mt-3">
    <div class="card gr-1">
        <div class="txt">
        <h1>Ngoding Bareng<br>Himakom</h1>
        <p>Berkreasi dalam bidang software</p>
        </div>
        <a href="#" data-bs-toggle="modal" data-bs-target="#ngobar">Lihat detail</a>
        <div class="icon_card">
        <i class="fa-solid fa-laptop-code"></i>
        </div>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 column mt-3">
    <div class="card gr-2">
        <div class="txt">
        <h1>Membuat Workshop <br>Online</h1>
        <p>Berkreasi dalam bidang multimedia</p>
        </div>
        <a href="#" data-bs-toggle="modal" data-bs-target="#workshop">Lihat detail</a>
        <div class="icon_card">
        <i class="fa-solid fa-photo-film"></i>
        </div>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 column mt-3">
    <div class="card gr-3">
        <div class="txt">
        <h1>Mendirikan UKM <br>Robotika</h1>
        <p>Berkreasi dalam bidang IoT</p>
        </div>
        <a href="#" data-bs-toggle="modal" data-bs-target="#robotika">Lihat detail</a>
        <div class="icon_card">
        <i class="fa-solid fa-robot"></i>
        </div>
    </div>
    </div>

</div>
</div>

<!-- Modal -->
<!-- Ngobar -->
<div class="modal fade" id="ngobar" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Program Kerja Unggulan</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                <div class="col-md-3">
                    <img src="assets/img/coding.webp" class="img-fluid">
                </div>
                <div class="col-md">
                    <ul class="list-group">
                    <li class="list-group-item"><h4>Ngoding Bareng Himakom</h4></li>
                    <li class="list-group-item"><strong>Sifat : </strong>Fleksibel</li>
                    <li class="list-group-item"><strong>Penjelasan : </strong><br> Menjadi wadah bagi para mahasiswa untuk berkreasi dalam bidang software </li>
                    <li class="list-group-item"><strong>target : </strong> <br> mampu bekerja sama untuk
                        membangun website HIMA dan BEM Politeknik Pajajaran</li>    
                    </li>
                    </ul>
                </div>
                </div>
            </div>`
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
<!-- Workshop -->
<div class="modal fade" id="workshop" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Program Kerja Unggulan</h5>
            <button type="button" class="btn-close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                <div class="col-md-3">
                    <img src="assets/img/workshop.webp" class="img-fluid">
                </div>
                <div class="col-md">
                    <ul class="list-group">
                    <li class="list-group-item"><h4>Membuat Workshop Online</h4></li>
                    <li class="list-group-item"><strong>Sifat : </strong>Jangka Pendek</li>
                    <li class="list-group-item"><strong>Penjelasan : </strong><br> Diharapkan dapat menambah softskill khususnya paramahasiswa maupun untuk masyarakat umum yang berpartisipasi dalam acara tersebut</li>
                    <li class="list-group-item"><strong>Contoh Workshop online : </strong> <br> 
                        <ol>
                            <li>Tutorial membuat gambar watercolor pada photoshop.</li>
                            <li>Menjadi videographer professional hanya dari smartphone</li>
                            <li>Dsb</li>
                        </ol>
                    </li>    
                    </li>
                    </ul>
                </div>
                </div>
            </div>`
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
<!-- UKM Robotika -->
<div class="modal fade" id="robotika" tabindex="-1"   aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Program Kerja Unggulan</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                <div class="col-md-3">
                    <img src="assets/img/robotic.webp" class="img-fluid">
                </div>
                <div class="col-md">
                    <ul class="list-group">
                    <li class="list-group-item"><h4>Mendirikan UKM Robotika</h4></li>
                    <li class="list-group-item"><strong>Sifat : </strong>Jangka Panjang</li>
                    <li class="list-group-item"><strong>Penjelasan : </strong><br>Diharapkan mampu mendongkrak semangat mahasiswa dalam berkarya, dan berinovasi di era industry 4.0 Didalam UKM ini juga diharapkan menjadi wadah bertukar pikiran untuk setiap mahasiswa dari berbagai latar belakang, dan keahlian supaya mampu membuat penemuan baru yang bermanfaat bagi sesame</li>
                    <li class="list-group-item"><strong>Contoh Proyek : </strong> <br> Membuat GPS tracker dan aplikasi controlling pada kendaraan berbasis IoT yang dapat melacak lokasi, dan mematikan/menghidupkan kendaraan dari jarak jauh</li>    
                    </li>
                    </ul>
                </div>
                </div>
            </div>`
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

<!-- Event Card -->
<div class="container-event">
    <h1 class="text-center">Kegiatan yang akan datang</h1>
    <div class="event-slider">
        <div class="event-slider__wrp swiper-wrapper">
            <div class="event-slider__item swiper-slide">
            <div class="event-slider__img">
                
                <img src="assets/img/coding.webp" alt="">
            </div>
            <div class="event-slider__content">
                <span class="event-slider__code"><i class="fas fa-calendar-alt mr-2"></i> 30 Oktober 2022</span>
                <div class="event-slider__title">Welcome Party</div>
                <div class="event-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div>
                <a href="#" class="event-slider__button">Lihat Selengkapnya</a>
            </div>
            </div>
            <div class="event-slider__item swiper-slide">
            <div class="event-slider__img">
                <img src="assets/img/workshop.webp" alt="">
            </div>
            <div class="event-slider__content">
                <span class="event-slider__code"><i class="fas fa-calendar-alt mr-2"></i> 18 Oktober 2022</span>
                <div class="event-slider__title">Makrab Tekom</div>
                <div class="event-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
                <a href="#" class="event-slider__button">Lihat Selengkapnya</a>
            </div>
            </div>
        
        </div>
        <div class="event-slider__pagination"></div>
    </div>
</div>

<!-- Berita -->
<section class="news ">
    <div class="container py-5">
        <h1 class="text-center py-5 berita">Berita Terbaru</h1>
        <% berita1.forEach(berita => { %>
            <article class="postcard news blue">
                <a class="postcard__img_link" href="/news/<%= berita.judul %>">
                    <img class="postcard__img" src="/uploads/images/<%= berita.thumbnail %>" alt="Image Title" />
                </a>
                <div class="postcard__text text">
                    <h1 class="postcard__title blue"><a href="/news/<%= berita.judul %>"><%= berita.judul %> </a></h1>
                    <div class="postcard__subtitle small">
                        <time>
                            <i class="fas fa-calendar-alt mr-2"></i> <%= berita.tanggalDibuat %> 
                        </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <a href="/news/<%= berita.judul %>">
                        <div class="postcard__preview-txt"><%= berita.deskripsi %> </div>         
                    </a>
                </div>
            </article>
        <% }) %>
        
        <% berita2.forEach(berita => { %>
            <article class="postcard news red">
                <a class="postcard__img_link" href="/news/<%= berita.judul %>">
                    <img class="postcard__img" src="/uploads/images/<%= berita.thumbnail %>" alt="Image Title" />	
                </a>
                <div class="postcard__text text">
                    <h1 class="postcard__title red"><a href="/news/<%= berita.judul %>"><%= berita.judul %> </a></h1>
                    <div class="postcard__subtitle small">
                        <time>
                            <i class="fas fa-calendar-alt mr-2"></i> <%= berita.tanggalDibuat %> 
                        </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <a href="/news/<%= berita.judul %>">
                        <div class="postcard__preview-txt"><%= berita.deskripsi %> </div>         
                    </a>
                </div>
            </article>
        <% }) %>

    </div>
</section>

<!-- video Galley -->

<section class="video-galeri">
    <h1 class="text-center video mb-5">Video Himakom</h1>
    <div class="wrap">
        <div class="main-video">
            <video src="assets/video/kegiatanMakrab.mp4" controls></video>
            <h3 class="judul">01. Kegiatan Makrab</h3>
        </div>

        <div class="video-list">
            <div class="vid active">
                <video src="assets/video/kegiatanMakrab.mp4"></video>
                <h3 class="judul">01. Kegitan Makrab</h3>    
            </div>
            <div class="vid">
                <video src="assets/video/Thanks Makrab.mp4"></video>
                <h3 class="judul">02. Big thanks to makrab</h3>    
            </div>
        </div>
    </div> 
</section>

<!-- artikel -->

<div class="container-article">
    <h1 class="text-center my-5 article">Artikel Terbaru</h1>
    <div class="band">
        <% artikelUtama.forEach(artikel => { %>
            <div class="item-1">
            <a href="articles/<%= artikel.judul %>" class="card-article">
                <div class="thumb" style="background-image: url(./uploads/images/<%= artikel.thumbnail %>);"></div>
                <article>
                <h1><%= artikel.judul %> </h1>
                <span><i class="fas fa-calendar-alt mr-2"></i> <%= artikel.tanggalDibuat %> </span>
                </article>
            </a>
            </div>
        <% }) %>

        <% artikels.forEach(artikel => { %>
            <div class="item-2">
            <a href="articles/<%= artikel.judul %>" class="card-article">
                <div class="thumb" style="background-image: url(./uploads/images/<%= artikel.thumbnail %>);"></div> 
                <article>
                <h1><%= artikel.judul %> </h1>
                <span> <i class="fas fa-calendar-alt mr-2"></i> <%= artikel.tanggalDibuat %> </span>
                </article>
            </a>
            </div>
        <% }) %>

    </div>
</div>


<!-- foto Galery -->
<section id="gallery">
    <div class="container">
    <h1 class="galeri text-center my-5">Galeri Himakom</h1>
        <div id="image-gallery">
        <div class="row">
            <% galleries.forEach(gallery => { %>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                    <div class="img-wrapper">
                        <a href="/uploads/images/<%= gallery.foto %>"><img src="/uploads/images/<%= gallery.foto %>" class="img-responsive"></a>
                        <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        </div>
    </div>
</section>
</div>